.emaillist{
    flex: 1;
    overflow: scroll;
}
.emaillist::-webkit-scrollbar{
    display: none;
}

.emaillist{
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.emaillist__options{
    display: flex;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 99;
    border-bottom: 1px solid whitesmoke;
    padding-right: 10px;
}

.emaillist__categories{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 99;
}

.emaillist__emailContainer{
    padding-bottom: 20%;
}

